{% extends 'skel.tmpl' %}

{% block content %}

    <h1 class="content-subhead">The Tweets</h1>

    {% for tweet in tweets: %}
        <section class="post">
           <header class="post-header">
                <img alt="Some avatar" class="post-avatar" src="https://api.adorable.io/avatars/48/{{tweet.author}}.png" width="48" height="48">
                <h2 class="post-title">{{tweet.tweet|safe}}</h2>
                <p class="post-meta">By {{tweet.author|safe}} on {{tweet.date|safe}}</p>
            </header>
            <div class="post-description"><p>&nbsp;</p></div>
        </section>
    {% endfor %}

{% endblock %}